* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
}

.wrapper {
  width: 80vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  background: #aaa;
}
.tip-amount,
.total,
input,
button {
  width: 100%;
  flex: 5;
  padding: 1rem;
  background-color: royalblue;
  border: 3px solid white;
  color: white;
  font-size: xx-large;
}

input::placeholder {
  color: rgb(212, 212, 212);
}
